.each-user {
  border: 2px solid black;
  padding: 10px;
  width: 200px;
  margin: 12px;
}
.user-container {
  display: flex;
  flex-wrap: wrap;
}

.each-user a {
  text-decoration: none;
}
